.notify-container {
  text-align: right;
  position: fixed;
  visibility: hidden;
  z-index: 1;
  top: 66px;

  .alert {
    visibility: visible;
    position: relative;
    padding-right: 45px;
    //padding-left: 0;

    &:after {
      cursor: pointer;
      font-size: large;
      content: "x";
      position: absolute;
      top: 15px;
      right: 25px;
    }
  }
}