@import "../../styles/_variables.scss";

.ver-checkbox {
  display: inline-block;
  margin-right: 10px;
  input[type="checkbox"] {
    opacity: 0;
    height: 20px;
    width: 20px;
    margin-right: -20px;
    outline: none;
    display: inline-block;
  }
  span {
    //margin-left: 3px;
    //padding-left: 25px;
  }
  :focus + span:before {
    width: 18px;
    height: 18px;
    margin-top: -1px;
    margin-left: -1px;
    border: dotted 1px $gray-darker;
  }
  > span:before {
    margin-right: 10px;
    font-family: 'Flat-UI-Icons', serif;
    height: 20px;
    width: 20px;
    content: "\e60d";
    border-radius: 3px;
    background: $gray-lighter;
    color: $gray-light;
  }
  :checked + span:before {
    color: $select;
    content: "\e60e";
  }
}