@import "../../styles/flat-ui.css";
@import "../../styles/variables";

html, body, #root {
  height: 100%;
  background-color: #cccccc;
}

.app {
  margin-top: 0;
  height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  > .container {
    padding-top: 66px;
    background-color: #ffffff;
    min-height: 100%;
    padding-bottom: 15px;
  }
}

.inputs {
  text-align: center;
  margin-top: 40px;
}

.input-group {
  margin-bottom: 1em;
}

.input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

@media print {
  .app > .container {
    padding-top: 0;
  }
}

.form-control.has-error {
  border-color: $carrot;
}

#queueImg {
  width: 100%;
  padding: 0 40px;
  img {
    width: 100%;
    height: auto;
  }
}
