$blue: blue;
$primary: #34495e;
$secondary: red;
$navbar: rgb(141, 141, 141);
$gray-lighter: #eee;
$gray-light: #BDC3C7;
$gray-dark: #95A5A6;
$gray-darker: #7F8C8D;
$select: #39c;
$form-bg: #edeff1;
$carrot: #d62c1a;