@import "./variables.scss";

.list-item {
  margin-bottom: 5px;
  .title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
  .btn-group {
    float: right;
    margin-top: -9px;
  }
}

.input-group-addon-error {
  color: #ffffff;
  border-color: #e74c3c;
  background-color: #e74c3c;
}